.home {
  height: 120vh;
  width: 100%;
  background: url("./test4.jpg");
  display: flex;
  flex-direction: column;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 120px;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
}
h4 {
  font-family: "Pacifico", cursive;
  font-family: "Kanit", sans-serif;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  cursor: pointer;
}
h4 em {
  color: rgb(219, 16, 182);
}
.nav a {
  text-decoration: none;
  padding: 10px 18px;
  background-color: rgb(219, 16, 182);
  color: white;
  font-family: "Pacifico", cursive;
  font-family: "Kanit", sans-serif;
  font-family: "Roboto Slab", serif;
  font-family: "Oswald", sans-serif;
}
.body {
  padding-top: 30px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 0;
}
.body img {
  height: 90vh;
}
.lower {
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 34px;
}
.lower em {
  color: rgb(6, 188, 191);
}
